body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: lightgray;
}

body {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 2rem 1fr 4rem 1rem;
  grid-template-areas:
    "header header"
    "sidebar main"
    "bottom bottom"
    "footer footer";
}

header {
  grid-area: header;
  font-family: system-ui;
  position: relative;
}

#main {
  width: 100%;
  height: 100%;
  grid-area: main;
  padding: .2rem;
  background: gray;
  box-sizing: border-box;
  border: 1px solid dimgray;
  border-right-color: white;
  border-bottom-color: white;
  overflow: scroll;
}

#bottom {
  grid-area: bottom;
  display: flex;
}

canvas {
  background: white;
  pointer-events: none;
  image-rendering: pixelated;
}

#sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#toolbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: .5rem;
}

.tool {
  background: url(icons.bmp);
  width: 25px;
  height: 25px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row-reverse;
}

#title {
  user-select: none;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .5rem;
}